// RegisterPage.module.scss

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to right, #f7fafc, #edf2f7, #e2e8f0);
}

.card {
  max-width: 32rem;
  width: 100%;
  background-color: #ffffff;
  padding: 2rem;
  border: 1px solid #d2d6dc;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0.8;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #2d3748;
}

.error {
  color: #e53e3e;
  text-align: center;
  margin-bottom: 1rem;
}

.label {
  color: #4a5568;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.input {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  appearance: none;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  width: 100%;
  padding: 0.5rem 0.75rem;
  color: #4a5568;
  font-size: 1rem;
  transition: all 0.2s;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
}

.button {
  margin: 3%;
  background-color: #007bff;

  &:hover {
    background-color: #ffdf;
    color:black;
  }

  color: white;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: all 0.2s;
}

.link {
  color: #4299e1;

  &:hover {
    text-decoration: underline;
  }
}